
.icon-web {
    width: 50px;
    height: 50px;
}

#navbarSupportedContent {
    
}

#items-nav-bar {
    margin: auto;
}

#items-nav-bar a {
    color: #ffffff;
}

#nav-bar {
    background-color: #1282a2;
    color: #ffffff;
}

#form-id {
    width: 30%;
    height: 40px;
}

.search-icon {
    width: 45px;
    height: 45px;
}

.shop-cart {
    background-image: url('../../images/cart-shop.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.shop-cart button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
}
.shop-cart button:hover {
    background-color: transparent;
    border-color: transparent;
}

.shop-cart button:focus {
    background-color: transparent;
    border-color: transparent;
}

.label-count {
    margin-top: -50px;
    margin-left: 15px;
}

.buttons-cart {
    margin-top: auto;
    margin-bottom: auto;
}