
#shop-modal {
    margin-right: 20px;
}

#modal-header {
    background-color: #1282a2;
    color: #ffffff;
}

#shop-close {
    /*background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e)*/
    background: transparent url(../../images/close-cart.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.modal-body img {
    width: 55px;
    height: 65px;
}

.modal-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.modal-row p {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
